@charset "UTF-8";

body{
    background-image: linear-gradient(45deg ,#03012cb4 ,#4167881f );
}

#principal{
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

.titulos{
    color: #9DA9A0;
    background-color: black;
}

.basico{
    color: #BC412B;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

.intermediario{
    color: rgba(5, 5, 233, 0.651);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}

.avançado{
    color: rgba(39, 228, 39, 0.685);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
}